.productEditBody {
  text-align: center;
}

.productEditBody > div {
  margin: 0.5rem 1rem;
}

.price {
  display: inline;
}

.errorMessage {
  margin-left: 5.5rem;
  margin-top: 2rem;
  color: red;
}
